@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;500;600;700&display=swap");
:root {
  --blue: #53b9d3;
  --red: #a40e4c;
  --orange: #ffa62b;
  --dark: #2c2c54;
  --border-r: 20px;
}
* {
  font-family: "Sofia Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  background-color: #fffffc;
  overflow-x: hidden;
}
h1 {
  font-size: clamp(1.8rem, 2.5vw, 2.5rem);
}
h2 {
  font-size: clamp(1.7rem, 3vw, 2rem);
}
h3 {
  font-size: clamp(1rem, 3vw, 1.5rem);
  text-transform: uppercase;
}
.hidden {
  display: none;
}
.btn {
  background-color: transparent;
  border: 2px solid white;
  border-radius: var(--border-r);
  text-align: center;
  color: white;
  padding: 0.5rem clamp(0.5rem, 2vw, 2rem);
  cursor: pointer;
  word-break: keep-all;
}
.btn i {
  margin-right: 0.5rem;
}

.btn:hover {
  background-color: white;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
}
a {
  color: var(--blue);
}
.btn:active {
  transform: scale(90%);
}
.header input[type="file"] {
  display: none;
}

.header {
  width: 100vw;
  background-color: var(--dark);
  padding: 1rem clamp(0rem, calc(0.1rem + 2vw), 10rem);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header .logo {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 50%;
  max-width: 70%;
  overflow: hidden;
  gap: clamp(0.5rem, calc(0.8rem + 1vw), 4rem);
}
.header .logo::after {
  content: "";
  background-image: linear-gradient(to right, transparent 40%, var(--dark));
  position: absolute;
  width: 100vw;
  left: 10%;
  height: 100%;
}
.header .logo strong {
  color: var(--orange);
}
.header .logo img {
  width: clamp(0.5rem, calc(1rem + 2vw), 4rem);
}
.header .buttons {
  display: flex;
  justify-content: center;
  gap: clamp(0rem, 1vw, 1rem);
}
.header .h-btn1 {
  background-color: var(--orange);
  border-color: var(--orange);
}
.header .h-btn2 {
  border-color: var(--blue);
  color: var(--blue);
}
/* main */
.main {
  display: flex;
  flex-direction: column;
  margin: 5rem 0;
  padding: 0 clamp(0rem, calc(0.1rem + 2vw), 10rem);
  gap: 1rem 0;
  justify-content: center;
  min-height: 50vh;
}
.main h3 {
  text-align: left;
  color: var(--dark);
}
.main .recent-container {
  border-radius: var(--border-r);
  overflow: hidden;
  width: 100%;
}
.main .main-container,
.main .main-textarea {
  border-radius: var(--border-r);
  overflow: hidden;
  min-height: 70vh;
  max-height: 70vh;
  width: 100%;
  text-align: justify;
  background-color: white;
  border: 2px solid var(--orange);
  padding: 1rem;
  font-size: 1.5rem;
  overflow-y: scroll;
}

/* tools */
.main .buttons-edit {
  display: flex;
  justify-content: space-between;
}
.main .buttons-edit .btn-convert {
  background-color: var(--blue);
  border-color: white;
  color: white;
}
.main .buttons-edit .btn-convert h3 {
  color: white;
}
.main .buttons-edit .btn-tool.active {
  opacity: 1;
  background-color: var(--blue);
}
.main .buttons-edit .btn-tool {
  border-radius: 15px;
  background-color: var(--blue);
  border-color: var(--blue);
  opacity: 0.5;
  overflow: hidden;
  padding: 0 0.5rem;
}
.tools {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
ul,
ol {
  list-style-position: inside;
  padding: 0.5rem;
  text-align: left;
  margin-bottom: 1rem;
}
blockquote {
  padding: 1rem;
  margin-bottom: 1rem;
  border-left: 3px solid var(--orange);
  background-color: rgba(0, 0, 0, 0.041);
  text-align: left;
}
.main .buttons-edit .btn-tool.disabled {
  cursor: not-allowed;
}
.main .buttons-edit .btn-tool img {
  width: 1.5rem;
}
.main .buttons-edit .btn-tool h3 {
  color: white;
}
.main .recent-container .item:hover {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.main .recent-container .item,
.main .recent-container .recent-header {
  width: 100%;
  padding: 1rem 2rem;
  background-color: var(--blue);
  max-height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.main .item img,
.main .recent-header img {
  width: 2rem;
  margin-right: clamp(0.5rem, 3vw, 5rem);
}

.main .recent-container .recent-header {
  background-color: var(--dark) !important;
}
.main .item h3,
.main .recent-header h3 {
  display: flex;
  overflow: hidden;
  align-items: center;
  color: white;
  max-width: 60%;
}
/* footer */
.footer {
  padding: 1rem clamp(0rem, calc(0.1rem + 2vw), 10rem);
  display: flex;
  justify-content: space-between;
}
/* shapes */

.shape-divider-top {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  opacity: 0.3;
}

.shape-divider-top svg {
  position: relative;
  display: block;
  min-width: 50rem;
  width: calc(100% + 1.3px);
  height: 20vh;
}

.shape-divider-top .shape-fill {
  fill: var(--orange);
}

.shape-divider-bottom {
  position: absolute;
  top: 80vh;
  transform: rotate(180deg);
  left: 0;
  z-index: -1;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  opacity: 0.3;
}

.shape-divider-bottom svg {
  position: relative;
  display: block;
  min-width: 50rem;
  width: calc(100% + 1.3px);
  height: 20vh;
}

.shape-divider-bottom .shape-fill {
  fill: var(--orange);
}
